# Ignore datasets (too large for GitHub)
datasets/
*/datasets/
**/datasets/

# Ignore all model checkpoints and production models
# Large models should be stored on LFS, Drive, or external storage
*.h5
*.keras
*.pkl
*.npy
*.pt
*.dataset

# Python virtual environment
venv/
.env
.venv
env/

# Python cache
__pycache__/
*.pyc

# OS junk
.DS_Store
Thumbs.db

# Ignore temporary files
*.tmp
*.log

# Ignore notebooks checkpoints
.ipynb_checkpoints/
